*{
    box-sizing: border-box;
}

body{
    margin :0;
    padding :0;
}

.toolbox-container{
    background-color: gray;
    height : 5rem;
    display: flex;
    align-items: center;
}

.toolbox-priority-cont {
    width: 18rem;
    height: 3.5rem;
    background-color: rgb(161, 158, 158);
    margin-left: 4rem ;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    

}


.color-box{
    height: 1.5rem;
    width: 3rem;

}


.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: rgb(94, 221, 94);
}